<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />     
    </startup>
  <appSettings>
    <add key="ProtoShemaTxtPath" value="S:\KEIS\RAZVOJ\IGOR\Visual Studio 2017\Projects\PinterestPinsIdsReplacer\ProtoShema.txt"/>
    <add key="WordsToReplaceTxtPath" value="S:\KEIS\RAZVOJ\IGOR\Visual Studio 2017\Projects\PinterestPinsIdsReplacer\WordsToReplace.txt"/>
  </appSettings>
</configuration>